[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "apps/ghostty/shaders"]
	path = apps/ghostty/shaders
	url = https://github.com/0xhckr/ghostty-shaders.git
[submodule "apps/sketchybar"]
	path = apps/sketchybar
	url = my:sketchybar
[submodule "omarchy-themes/thinkpad-boot-screen"]
	path = omarchy-themes/thinkpad-boot-screen
	url = https://github.com/Yilmaz41/Thinkpad-boot-screen.git
