*.log
*.log.*
history.txt
**/state.yml
**/state.json
mics/yasb/*.py
elevated-state.json
lazy-lock.json
*.bak
# mac
.DS_Store
# chrome extension
*.pak
secret.toml
apps/karabiner/automatic_backups
tui/tmux/plugins
shells/zshrc/.zsh_history
.DS_Store
tmux/plugins/
raycast
fzf
history.txt

