[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "apps/ghostty/shaders"]
	path = apps/ghostty/shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
[submodule "apps/sketchybar"]
	path = apps/sketchybar
	url = my:sketchybar
