:root {
--color00: #000000;
--color01: #222222;
--color02: #666666;
--color03: #666666;
--color04: #e6e1cf;
--color05: #e6e1cf;
--color06: #e6e1cf;
--color07: #ffffff;
--color08: #f07178;
--color09: #ff7733;
--color0A: #e6b673;
--color0B: #b8cc52;
--color0C: #36a3d9;
--color0D: #36a3d9;
--color0E: #ffee99;
--color0F: #f07178;
}
