@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto Sans Mono:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fontsapi.zeoseven.com/442/main/result.css");

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock {
  font-family: 'Maple Mono NF CN', 'Noto Sans Mono';
  font-size: 13px;
  font-weight: 350;
}

/* Reading view */
.markdown-preview-view code {
  font-family: 'Maple Mono NF CN', 'Noto Sans Mono';
  font-size: 13px;
  font-weight: 375;
}