:root {
    --color00: #14161a;
    --color01: #14161a;
    --color02: #14161a;
    --color03: #dcd7cf;
    --color04: #dcd7cf;
    --color05: #dcd7cf;
    --color06: #ffffff;
    --color07: #ffffff;
    --color08: #ffffff;
    --color09: #e8a0a0;
    --color10: #e8a0a0;
    --color11: #e8c890;
    --color12: #dcd7cf;
    --color13: #6bb8e0;
    --color14: #e8a0a0;
    --color15: #e8a0a0;
}
