@define-color selected-text #dcd7cf;
@define-color text #dcd7cf;
@define-color base #14161a;
@define-color border #6bb8e0;
@define-color foreground #6bb8e0;
@define-color background #14161a;
@define-color accent #6bb8e0;

window .box-wrapper {
  background: @background;
  padding: 12px;
  color: @text;
  border: 3px solid @foreground;
  border-radius: 8px;
  margin: 0;
}

window .search-container {
  background: #2a2c30;
  border: 2px solid #2a2c30;
  color: #f0ddaa;
  border-radius: 8px;
}

window .placeholder {
  opacity: 0.4;
  color: @text;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 8px;
  background: transparent;
  border-radius: 0;
  border-left: 0px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover {
  background: linear-gradient(90deg, alpha(@accent, 0.08), transparent 80%);
  border-left: 2px solid alpha(@accent, 0.4);
}

child:selected {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  background: #2a2c30;
  border-radius: 8px;
  border-left: 0px solid @accent;
}
