:root {
    --color00: #0d0e1a;
    --color01: #0d0e1a;
    --color02: #151726;
    --color03: #dcd7e6;
    --color04: #ffffff;
    --color05: #ffffff;
    --color06: #ffffff;
    --color07: #ffffff;
    --color08: #ffffff;
    --color09: #f1948a;
    --color10: #c9a0dc;
    --color11: #8dd4cc;
    --color12: #dcd7e6;
    --color13: #8dd4cc;
    --color14: #c9a0dc;
    --color15: #f1948a;
}
