* {
active-background: #9ccfd8;
active-foreground: #e0def4;
normal-background: #191724;
normal-foreground: #e0def4;
urgent-background: #c4a7e7;
urgent-foreground: #e0def4;

alternate-active-background: #f6c177;
alternate-active-foreground: #e0def4;
alternate-normal-background: #191724;
alternate-normal-foreground: #e0def4;
alternate-urgent-background: #191724;
alternate-urgent-foreground: #e0def4;

selected-active-background: #c4a7e7;
selected-active-foreground: #e0def4;
selected-normal-background: #c4a7e7;
selected-normal-foreground: #e0def4;
selected-urgent-background: #9ccfd8;
selected-urgent-foreground: #e0def4;

background-color: #191724;
background: rgba(0,0,0,0.7);
foreground: #e0def4;
border-color: #9ccfd8;

color0: #26233a;
color1: #eb6f92;
color2: #31748f;
color3: #f6c177;
color4: #9ccfd8;
color5: #c4a7e7;
color6: #ebbcba;
color7: #e0def4;
color8: #6e6a86;
color9: #eb6f92;
color10: #31748f;
color11: #f6c177;
color12: #9ccfd8;
color13: #c4a7e7;
color14: #ebbcba;
color15: #e0def4;
}
